{:type :invoke, :f :add, :value 1, :op-index 1, :process 0, :time 1695055220220, :index 0}
{:type :ok, :f :add, :value 1, :op-index 1, :process 0, :time 1695055220722, :index 2}
{:type :invoke, :f :add, :value 1, :op-index 2, :process 0, :time 1695055220267, :index 1}
{:type :ok, :f :add, :value 1, :op-index 2, :process 0, :time 1695055220735, :index 3}
{:type :invoke, :f :add, :value 1, :op-index 3, :process 0, :time 1695055221548, :index 4}
